.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.image-add-menu {
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 30px;
    z-index: 2;
    /* margin-inline: auto;
    margin-block: auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.close-menu {
    width: 50px;
    height: 50px;
    background-color: lightpink;
    border-radius: 5px;
    align-items: end;
    justify-items: end;
    text-align: center;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    background-attachment: local;
    box-shadow: 0px 0px 5px lightpink;
    color: whitesmoke;
    border-color: pink;
    position: absolute;  
    top: 0;
    right: 0;
}

.close {
    width: 35px;
    height: 35px;
    padding-top: 3px;
    padding-left: 1px;
    rotate: 45deg;
}

.open-Explorer-button {
    width: 400px;
    height: 250px;
    background-color: lightpink;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightpink;
    border-color: pink;
    margin-inline: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-wrapper {
    display: flex;
    justify-content: flex-start; /* Выровнять по началу контейнера */
    align-items: flex-start; /* Выровнять элементы по верхнему краю */
}

.form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-field {
    z-index: 4;
    margin-left: 25px;
    margin-top: 3%;
    width: 300px;
    height: 30px;
    border: 4px solid pink;
    border-radius: 7px;
    font-family: 'MyCustomFont1';
    outline: none;
}

.caption-field {
    z-index: 4;
    margin-left: 25px;
    margin-top: 7%;
    width: 300px;
    height: 290px;
    border: 4px solid pink;
    border-radius: 7px;
    font-family: 'MyCustomFont1';
}

textarea {
    resize: none;
    outline: none;
}

.submit-photo {
    z-index: 4;
    margin-left: -185px;
    margin-top: 9%;
    width: 100px;
    height: 50px;
    /* border: 4px solid pink; */
    border-radius: 7px;
    font-family: 'MyCustomFont2';
    font-size: x-large;
    box-shadow: 0px 0px 5px lightpink;
    color: white;
    border-color: pink;
    background-color: lightpink;
}

.preview-image {
    width: 340px;
    height: 450px;
    border-radius: 10px;
    display: none;
    z-index: 3;
    position: relative;
    margin-left: 3%;
    margin-top: 3%;
}

.fileInput {
    display: none;
}